@(colors: Array[Array[Int]], nbSquaresOneEdge: Int)

<!-- display gray and colored mySquare MySquare-->
<script src="@routes.Assets.versioned("javascripts/square-canvas.js")"></script>
<script>

    var jsColors = [@colors.map(array => "[" + array.mkString(",") + "]").mkString(",")];

    var coloredSquare = document.getElementById("coloredSquare");
    var graySquare = document.getElementById("graySquare");

    var canvasWidth = graySquare.clientWidth;
    drawSquares(jsColors, @nbSquaresOneEdge, coloredSquare, canvasWidth);
    drawSquares(jsColors, @nbSquaresOneEdge, graySquare, canvasWidth, true);

</script>


<!-- deal with the display of the register and login form-->
<script src="@routes.Assets.versioned("javascripts/confirmSquares/display-login-register.js")"></script>