@import settings.Helpers._
@import helper._
@import controllers.Application.LogRegCont._

@(registerForm: Form[RegisterData], loginForm: Form[LoginData], errorMessage: String = "")(implicit message: RequestHeader)



<div class="page-mainbar pricing">
    <!-- Heading -->
    <h3>Our Best Plans</h3>
    <!-- Pricing Table -->
    <div class="pricing-table">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <!-- Pricing Item -->
                <div class="pricing-item br-red">
                    <!-- Price -->
                    <span class="p-price">Free<span> /first login</span></span>
                    <!-- Heading -->
                    <h4>New user</h4>

                    <!-- Registration-->
                    <div id="registerDiv">
                        <!-- Heading -->
                        <h2>Registration</h2>
                        <!-- Sign Up Form Start -->
                        @loginRegisterContact.registerFormHtml(registerForm)(message)
                        <!-- Sign Up form End -->
                    </div>


                    <!-- Button -->
                    <a id="registerDisplayButton" class="btn btn-default btn-circle">Register <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <!-- Pricing Item -->
                <div class="pricing-item">
                    <!-- Price -->
                    <span class="p-price">0.2€<span> /square</span></span>
                    <!-- Heading -->
                    <h4>= 1 €</h4>

                    <!-- Button -->
                    <a href="#" class="btn btn-default btn-circle">Buy Now <i class="fa fa-angle-right"></i></a>
                    <!-- Price Tag -->
                    <span class="p-tag br-yellow">New</span>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <!-- Pricing Item -->
                <div class="pricing-item br-lblue">
                    <!-- Price -->
                    <span class="p-price">0.1€<span> /square</span></span>
                    <!-- Heading -->
                    <h4>For member</h4>

                    <!-- Button -->
                    <a id="loginDisplayButton" class="btn btn-default btn-circle">Login <i class="fa fa-angle-right"></i></a>

                    <!-- Login -->
                    <div id="loginDiv">
                        <!-- Heading -->
                        <h2>Login</h2>
                        <!-- Sign in Form Start -->
                        @loginRegisterContact.loginFormHtml(loginForm)(message)
                        <!-- Sign in form End -->
                    </div>
                </div>


            </div>
        </div>
    </div>




</div>
