


<!-- Inner Page Content Sidebar -->

@commonToAllPage.sidebar("br-red")("Get my Squares")("Display your creativity to the whole world by owning your little space on the Internet")



<!-- Preview -->
<h3>Your squares </h3>
<!-- Other Plans Item -->
<canvas id="graySquare" >
    <p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour!!!!!</p>
</canvas>

<h3>Preview </h3>
<!-- Other Plans Item -->
<canvas id="coloredSquare" >
    <p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour!!!!!</p>
</canvas>