@import play.api.i18n.Messages.Implicits._

@()(implicit messages: Messages, lang: Lang)

<!-- Main-bar Column -->

<div class="page-mainbar aboutus">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <img src="@routes.Assets.versioned("/images/slide1-" + lang.code + ".png")">
        </div>
        <div class="col-md-6 col-sm-6">
                <!-- suggestion -->
            <h3>@messages("howItWorks.mainBarColumn.slide1.title")</h3>
            <p>
                @messages("howItWorks.mainBarColumn.slide1.text")
            </p>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-6 col-sm-6">
                <!-- suggestion -->
            <h3> @messages("howItWorks.mainBarColumn.slide2.title")</h3>
            <p>
                @messages("howItWorks.mainBarColumn.slide2.text")

            </p>
        </div>
        <div class="col-md-6 col-sm-6">
            <img src="@routes.Assets.versioned("/images/slide2-" + lang.code + ".png")">
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <img src="@routes.Assets.versioned("/images/slide3-" + lang.code + ".png")">
        </div>
        <div class="col-md-6 col-sm-6">
                <!-- suggestion -->
            <h3> @messages("howItWorks.mainBarColumn.slide3.title")</h3>
            <p>
                @messages("howItWorks.mainBarColumn.slide3.text")
            </p>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-6 col-sm-6">
                <!-- suggestion -->
            <h3> @messages("howItWorks.mainBarColumn.slide4.title") </h3>
            <p>
                @messages("howItWorks.mainBarColumn.slide4.text")
            </p>
        </div>
        <div class="col-md-6 col-sm-6">
            <img src="@routes.Assets.versioned("/images/slide4.png")">
        </div>
    </div>
</div>

