<!-- Main-bar Column -->

<div class="page-mainbar c-soon">
    <!-- Coming Soon Content -->
    <div class="c-soon-content br-black">
        <!-- Heading -->
        <h5>We are on the way...</h5>
        <!-- Big Heading -->
        <h2>Coming Soon<span>!!!</span></h2>
        <!-- Paragraph -->
        <p>We are working hard to provide you with the best support. Sorry for the inconvenience.</p>
        <!-- Countdown Html -->
        <div class="countdown">
            <div id="countdown"></div>
        </div>
        <div class="clearfix"></div>
        <!-- Heading -->

    </div>
</div>