<!-- Main-bar Column -->

    <div class="page-mainbar product">
        <!-- Heading -->
        <h3>Products of 2013-14</h3>
        <!-- Product Content -->
        <div class="row">
            <div class="col-md-8 col-sm-7">
                <!-- Product Carousel -->
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="img/c5.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="item">
                            <img src="img/c6.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="item">
                            <img src="img/c7.jpg" class="img-responsive" alt="" />
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="fa fa-chevron-left br-red"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="fa fa-chevron-right br-red"></span>
                    </a>
                </div>
                <!-- Recent Product -->
                <div class="recent-product">
                    <!-- Heading -->
                    <h3>Recent Products</h3>
                    <a href="#"><img src="img/nav1.jpg" class="img-responsive img-thumbnail" alt="" /></a>
                    <a href="#"><img src="img/w1.jpg" class="img-responsive img-thumbnail" alt="" /></a>
                    <a href="#"><img src="img/w2.jpg" class="img-responsive img-thumbnail" alt="" /></a>
                    <a href="#"><img src="img/w3.jpg" class="img-responsive img-thumbnail" alt="" /></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-5">
                <div class="product-sidebar">
                    <div class="sidebar-widget br-green">
                        <!-- Heading // Icon -->
                        <h4><i class="fa fa-rocket"></i> PONTICA</h4>
                        <!-- Paragraph -->
                        <p>Best voluptuary accusation pols revolves laudanum, totam rem aperiam, eaque ipsa beatae vitae dicta sunt explicabo. </p>
                    </div>
                    <div class="sidebar-widget br-orange">
                        <!-- Heading // Icon -->
                        <h4><i class="fa fa-glass"></i> LUXJERY</h4>
                        <!-- Paragraph -->
                        <p>Best voluptuary accusation pols revolves laudanum, totam rem aperiam, eaque ipsa beatae vitae dicta sunt explicabo. </p>
                    </div>
                    <div class="sidebar-widget br-lblue">
                        <!-- Heading -->
                        <h4>SKODA BENZE</h4>
                        <!-- List -->
                        <ul class="list-unstyled">
                            <li>Voluptuary desires to obtain  accusation</li>
                            <li>Totem rem desires hysteria</li>
                            <li>Dicta sunt explde sires to obtain icabo</li>
                            <li>Denouncing plea desires obtain sure</li>
                            <li>Occaecati cupiditate non</li>
                        </ul>
                        <!-- Button -->
                        <a href="#" class="btn btn-default btn-circle">Launch Product <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- question -->
    <div class="page-mainbar faq">
        <!-- Heading -->
        <h3>Frequently Asked Question ?</h3>
        <!-- FAQ Page Content -->
        <div class="faq-content">
            <!-- Collapse Item -->
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading br-lblue">
                        <h4 class="panel-title">
                            <!-- Faq title -->
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <h5><i class="fa fa-angle-right"></i>&nbsp; Who avus modi tempora incidunt ut labore et dolore measure?</h5>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <!-- faq details -->
                        <div class="panel-body br-lblue">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading br-green">
                        <h4 class="panel-title">
                            <!-- Faq title -->
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <h5><i class="fa fa-angle-right"></i>&nbsp; Eof denouncing pleasure and praising pain was born and I will uatur?</h5>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <!-- faq details -->
                        <div class="panel-body br-green">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading br-purple">
                        <h4 class="panel-title">
                            <!-- Faq title -->
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <h5><i class="fa fa-angle-right"></i>&nbsp; Which toil and pain can procure him some great pleasureo taker?</h5>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <!-- faq details -->
                        <div class="panel-body br-purple">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading br-red">
                        <h4 class="panel-title">
                            <!-- Faq title -->
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                <h5><i class="fa fa-angle-right"></i>&nbsp; Eof denouncing pleasure and praising pain was born and I will uatur?</h5>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <!-- faq details -->
                        <div class="panel-body br-red">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading br-blue">
                        <h4 class="panel-title">
                            <!-- Faq title -->
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                <h5><i class="fa fa-angle-right"></i>&nbsp; Eof denouncing pleasure and praising pain was born and I will uatur?</h5>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <!-- faq details -->
                        <div class="panel-body br-blue">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading br-orange">
                        <h4 class="panel-title">
                            <!-- Faq title -->
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                <h5><i class="fa fa-angle-right"></i>&nbsp; Which toil and pain can procure him some great pleasureo taker?</h5>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <!-- faq details -->
                        <div class="panel-body br-orange">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading br-pink">
                        <h4 class="panel-title">
                            <!-- Faq title -->
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                <h5><i class="fa fa-angle-right"></i>&nbsp; Who avus modi tempora incidunt ut labore et dolore measure?</h5>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <!-- faq details -->
                        <div class="panel-body br-pink">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









