@()(implicit messages: Messages, lang: Lang)

<div class="page-mainbar c-soon">
        <!-- Coming Soon Content -->
    <div class="c-soon-content br-black">
            <!-- Heading -->
        <h5>@Messages("commonToAllPage.commingSoon.onTheway")</h5>
            <!-- Big Heading -->
        <h2>@Messages("commonToAllPage.commingSoon.commingSoon")<span>!!!</span></h2>
            <!-- Paragraph -->
        <p>@Messages("commonToAllPage.commingSoon.workingHard")</p>
            <!-- Countdown Html -->
        <div class="countdown">
            <div id="countdown"></div>
        </div>
        <div class="clearfix"></div>
            <!-- Heading -->

    </div>
</div>