@(flash: Flash)(implicit messages: Messages, lang: Lang)



@flash.get("login").map{ _ =>
<p class="progress-bar-success">
    <!-- TODO: Faire l'angalis-->
    @messages("commonToAllPage.flash.login")
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</p>
}

@flash.get("logout").map{ _ =>
<p class="progress-bar-success">
    @messages("commonToAllPage.flash.logout")
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</p>
}

@flash.get("sendEmail").map{ _ =>
<p class="progress-bar-success">
    @messages("commonToAllPage.flash.sendEmail")
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</p>
}


@flash.get("email").map{ email =>
<p class="progress-bar-warning">
    @messages("commonToAllPage.flash.email", email)
    <a>@messages("commonToAllPage.flash.forgetPasword") </a>

    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</p>
}
@flash.get("errorLogin").map{ _ =>
<p class="progress-bar-danger">
    @messages("commonToAllPage.flash.errorLogin")
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</p>
}
@flash.get("haveToLogin").map{ _ =>
<p class="progress-bar-warning">
    <!-- TODO: correction de l'anglais -->
    @messages("commonToAllPage.flash.haveToLogin")
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</p>
}

<!--TODO: Add the message to textarea-->
@flash.get("mainError").map{ _ =>
<p class="progress-bar-danger">
    @messages("commonToAllPage.flash.mainError")
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</p>
}