@(flash: Flash)


@flash.get("login").map{ _ =>
<p class="progress-bar-success">
    <!-- TODO: Faire l'angalis-->
    Welcome!!!!!
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</p>
}

@flash.get("logout").map{ _ =>
<p class="progress-bar-success">
    <!-- TODO: Faire l'angalis-->
    Bye bye!!!!!!!!!
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</p>
}

@flash.get("sendEmail").map{ _ =>
<p class="progress-bar-success">
    <!-- TODO: Faire l'angalis-->
    You email have been successfully send.
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</p>
}


@flash.get("email").map{ email =>
<p class="progress-bar-warning">
    <!-- TODO: correction de l'anglais -->
    The email: @email is already registered.
    Did you <a>forget your password? </a>

    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</p>
}
@flash.get("errorLogin").map{ _ =>
<p class="progress-bar-danger">
    Login failed. Invalid userID or password.
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</p>
}
@flash.get("haveToLogin").map{ _ =>
<p class="progress-bar-warning">
    <!-- TODO: correction de l'anglais -->
    Before select your squares, you have to login or to register yourself
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</p>
}

<!--TODO: Add the message to textarea-->
@flash.get("mainError").map{ _ =>
<p class="progress-bar-danger">
    A error occur during the process. It is the Beta version, please send us the following message. <br>
    Thank you for your comprehension.
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</p>
}