<!-- jQuery -->
<script src="@routes.Assets.versioned("bootstrap/theme/js/jquery.js")"></script>
<!-- Bootstrap JS -->
<script src="@routes.Assets.versioned("bootstrap/theme/js/bootstrap.js")"></script>
<!-- Cycle JS -->
<script type="text/javascript" src="@routes.Assets.versioned("bootstrap/theme/js/jquery.cycle.all.js")"></script>
<!-- jQuery flot -->
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="@routes.Assets.versioned("bootstrap/theme/js/excanvas.min.js")"></script><![endif]-->
<script src="@routes.Assets.versioned("bootstrap/theme/js/jquery.flot.min.js")"></script>
<script src="@routes.Assets.versioned("bootstrap/theme/js/jquery.flot.resize.min.js")"></script>
<!-- Count To JS  -->
<script src="@routes.Assets.versioned("bootstrap/theme/js/jquery.countTo.js")"></script>
<!-- Masonry JS -->
<script src="@routes.Assets.versioned("bootstrap/theme/js/masonry.pkgd.min.js")"></script>
<script src="@routes.Assets.versioned("bootstrap/theme/js/imagesloaded.pkgd.min.js")"></script>
<!-- jQuery way points -->
<script src="@routes.Assets.versioned("bootstrap/theme/js/waypoints.min.js")"></script>
<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" src="@routes.Assets.versioned("bootstrap/theme/js/jquery.themepunch.tools.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("bootstrap/theme/js/jquery.themepunch.revolution.min.js")"></script>
<!-- jQuery prettyPhoto & Isotope -->
<script src="@routes.Assets.versioned("bootstrap/theme/js/jquery.prettyPhoto.js")"></script>
<script src="@routes.Assets.versioned("bootstrap/theme/js/isotope.js")"></script>
<!-- Respond JS for IE8 -->
<script src="@routes.Assets.versioned("bootstrap/theme/js/respond.min.js")"></script>
<!-- HTML5 Support for IE -->
<script src="@routes.Assets.versioned("bootstrap/theme/js/html5shiv.js")"></script>
<!-- Custom JS -->
<script src="@routes.Assets.versioned("bootstrap/theme/js/custom.js")"></script>


<!--Fade function-->
<script src="@routes.Assets.versioned("javascripts/fade.js")"> </script>


<!-- Function for have the relative coordonate-->
<!--TODO: Verify it works for all browsers-->
<script src="@routes.Assets.versioned("javascripts/relMouseCoords.js")"></script>


<!--Close the parent element of a close button-->
<script>
(function(){
    var closesButton = document.getElementsByClassName("close");
    for(i in closesButton){
        closesButton[i].onclick = function(){
        this.parentElement.style.display = "none";
        }
    }
})();

</script>
















