@(css: Html, sidebar: Html, mainBarColumn: Html, js: Html, login: Boolean, justOneColonm: Boolean = false)

<!DOCTYPE html>
<html>
<head>
    <!-- Title here -->
    <title>FlatMania, Blank Page</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->


    @commonToAllPage.css()
    @css





    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
</head>

<body>

<!-- Body Wrapper -->
<div class="wrapper white">

    <!-- Header-->
    @commonToAllPage.header(login)

    <!-- Inner Page Content // Start -->



    <div class="inner-page">
        <div class="container">
            @if(justOneColonm){
                @mainBarColumn
            }else{
                <div class="row">
                    <div class="col-md-3">
                        <!-- Inner Page Content Sidebar -->
                        <div class="page-sidebar"> @sidebar </div>
                    </div>
                    <div class="col-md-9">@mainBarColumn </div>
                </div>
            }
        </div>
    </div>

    <!-- Inner Page Content // End -->


    <!-- Footer-->
    @commonToAllPage.footer()







    <!-- This Page JavaScript -->
    @commonToAllPage.js()

    <!-- Javascript files -->
    @js






</body>
</html>