@(css: Html, sidebar: Html, mainBarColumn: Html, js: Html, companyData: Map[String, String], login: Boolean, justOneColonm: Boolean = false, facebook: Boolean = false)(implicit messages: Messages, lang: Lang)

<!DOCTYPE html>
<html>
<head>
    <!-- Title here -->
    <title>@companyData("name")</title>

    <meta property="og:url"                content="http://www.square-it.wtf/" />
    <meta property="og:title"              content="Square your idea !" />
    <meta property="og:description"        content="Display your creativity to the whole world by owning your little space on the Internet" />
    <meta property="og:image"              content="" />
    <meta property="og:site_name"          content="@companyData("name")" />

    <!-- Styles -->


    @commonToAllPage.css()
    @css
        


    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
</head>

<body>

    <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '1454825051201753',
                    xfbml      : true,
                    version    : 'v2.6'
                });
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

    </script>


<!-- Body Wrapper -->
<div class="wrapper white">

    <!-- Header-->
    @commonToAllPage.header(companyData, login)(messages, lang)

    <!-- Inner Page Content // Start -->

    <div class="inner-page">
        <div class="container">
            @if(justOneColonm){
                @mainBarColumn
            }else{
                <div class="row">
                    <div class="col-md-3">
                        <!-- Inner Page Content Sidebar -->
                        <div class="page-sidebar"> @sidebar </div>
                    </div>
                    <div class="col-md-9">@mainBarColumn </div>
                </div>
            }
        </div>
    </div>

    <!-- Inner Page Content // End -->


    <!-- Footer-->
    @commonToAllPage.footer(companyData)(messages, lang)







    <!-- This Page JavaScript -->
    @commonToAllPage.js()(messages, lang)

    <!-- Javascript files -->
    @js






</body>
</html>