@(month: String, colors: Array[Array[Int]], freeSquares: Array[Boolean], nbSquaresOneEdge: Int)

<!-- select the month in the sidebar -->
<script src="@routes.Assets.versioned("javascripts/haveSquares/sidebar-select-date.js")"> </script>
<script src="@routes.Assets.versioned("javascripts/haveSquares/fade-colored-gray-square.js")"> </script>

<script> selectMonth("@month"); </script>

<script src="@routes.Assets.versioned("javascripts/select-squares.js")"></script>
<script src="@routes.Assets.versioned("javascripts/square-canvas.js")"></script>
<script src="@routes.Assets.versioned("javascripts/fade.js")"></script>

<script>
    // common for the 2 canvas

    // array of colors and free squares
    var jsColors = [@colors.map(array => "[" + array.mkString(",") + "]").mkString(",")];
    var freeSquares = [@freeSquares.map( bool  => if(bool) "true,"; else "false,") false];
    var selectedSquare = []; // contains the index of the selected square

    var coloredSquare = document.getElementById("coloredSquare");
    var graySquare = document.getElementById("graySquare");
    var canvasWidth = graySquare.clientWidth;

    // use for compute and draw the little squares
    var nbSquaresOneEdge = @nbSquaresOneEdge;
    var littleSL = canvasWidth / nbSquaresOneEdge;


    // draw the square
    drawSquares(jsColors, freeSquares, @nbSquaresOneEdge, coloredSquare, canvasWidth);
    drawSquares(jsColors, freeSquares, @nbSquaresOneEdge, graySquare, canvasWidth, true);

    // add event for select the squares

    // canvas where we will draw the selected squares and event
    var canvasToDraw = document.getElementById("selectedSquare");
    canvasToDraw.width = canvasWidth;
    canvasToDraw.height = canvasWidth;
    var contextToDraw = canvasToDraw.getContext('2d');

    // add event to the canvas to draw
    selectSquares(canvasToDraw);

</script>