<div class="page-mainbar career">


<!-- TODO: Changer le mois a chaque fois-->
    <!-- Heading -->
    <h3>Welcome to the Square of January</h3>
    <!-- Careers Content -->
    <div class="career-content">
        <!-- Navigation Bar Menu list -->
        <ul class="nav nav-tabs">
            <li class="active" id="coloredSquareButton"><a href="#one" class="br-black" data-toggle="tab">Preview mode</a></li>
            <li id="graySquareButton"><a href="#two" class="br-black" data-toggle="tab">Select mode</a></li>
        </ul>
        <!-- Content for each menu item -->
        <div class="">
            <div class="tab-pane">
                <canvas id="selectedSquare">
                    <p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour!!!!!</p>
                </canvas>
                <canvas id="coloredSquare" >
                    <p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour!!!!!</p>
                </canvas>
                <canvas id="graySquare" class="squares">
                    <p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour!!!!!</p>
                </canvas>

            </div>

        </div>
    </div>
</div>
