@import settings.Helpers._
@import helper._
@import controllers.Application.LogRegCont._

@(submitSquareForm: Form[SelectedSquare])(implicit message: RequestHeader)

<div class="page-mainbar career">


    <!-- in progress: inprogress,  done: fdone-->
    <ul id="green_and_orange_step_menu" class="row">
        <li id="septMenuLi1" class="col-md-4 frist inprogress" >Select a square</li>
        <li id="septMenuLi2" class="col-md-4 "> Model you square<span></span></li>
        <li id="septMenuLi3" class="col-md-4 last"> Share with friends<span></span></li>
    </ul>



    <!-- 1• step: select the square-->
    <div id="select-square" >
        <!-- style="display: none;"-->
        <!-- TODO: Changer le mois a chaque fois-->
        <!-- Heading -->
        <!--<h3>Welcome to the Square of January</h3>-->
        <!--<h3>Select you square</h3>-->
        <!-- Careers Content -->
        <div class="career-content">
            <!-- Content for each menu item -->
            <div class="">
                <div class="tab-pane">
                    <canvas id="coloredSquare" class="squares">
                        <!-- TODO: Verifier avant la mise en marche du site -->
                        <p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour!!!!!</p>
                    </canvas>
                    <canvas id="selectedSquare">
                        <p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour!!!!!</p>
                    </canvas>
                </div>
            </div>
        </div>
    </div>


    <!-- 2• step: draw the square-->
    <div id="draw-square">
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-default" type="button" id="previewHistoric">
                    <i class="fa fa-undo"></i>
                </button>
                <button class="btn btn-default" type="button" id="nextHistoric">
                    <i class="fa fa-undo"></i>
                </button>
            </div>
            <div class="col-md-6" id="divCanvas">
                <canvas id="square-where-we-draw" style="width: 100%; height: 100px">
                    <p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour!!!!!</p>
                </canvas>
            </div>
            <div class="col-md-3" id="dealWithText">
                <button class="btn btn-default" id="addTextButton" type="button"> + Add text</button>
                @for(i <- 0 to 7) {
                <div class="row" style="display: none;" id="manageText@i">
                    <div class="col-md-6"> Text @(i + 1): </div>
                    <div class="col-md-3">
                        <button class="btn btn-default" type="button" id="deleteText@i">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <input type="number" id="fontSize@i" min="1" max="100">
                    </div>
                </div>
                }
            </div>
        </div>
    </div>




    <!-- 3• step: Share and connect-->
    <div id="share-with-friend" style="display: none;">
        <div class="page-mainbar pricing">
            <!-- Pricing Table -->
            <div class="pricing-table">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">

                        <div class="pricing-item br-lblack">
                            <!-- Login -->
                            <div id="loginDv">
                                <h2>Share your Square with your friends: </h2>
                            </div>

                            <hr/>

                            <div>
                                @helper.form(action = routes.Api.selectSquare, args = 'class -> "form-horizontal", 'role -> "form", 'id -> "submitSquareForm") {
                                @CSRF.formField
                                @repeat(submitSquareForm("emailsToSend"), min = 3){ emailField =>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @inputText(emailField, args = 'class -> "form-control", 'placeholder -> "Email to your friend !")
                                    </div>
                                </div>
                                }

                                @inputText(submitSquareForm("idMS"), args = 'type -> "hidden", 'id -> "idMS")
                                @inputText(submitSquareForm("idxSquare"), args = 'type -> "hidden", 'id -> "idxSelectedSquare")
                                @inputText(submitSquareForm("img"), args = 'type -> "hidden", 'id -> "finalSquareString")

                                <div class="row">
                                    <div class="col-md-offset-2 col-md-8 col-sm-12">
                                        <!-- Button -->
                                        <button type="submit" id="registerDisplayButton" class="btn btn-default btn-circle">Have your Square <i class="fa fa-angle-right"></i></button>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('idMS').value = "1";
</script>
