@import settings.Helpers._
@import helper._

@(idMS: Int, squareForm: Form[SelectedSquares])(implicit message: RequestHeader)

<!-- Inner Page Content Sidebar -->
@commonToAllPage.sidebar("br-red")("Get my Squares")("Display your creativity to the whole world by owning your little space on the Internet")


        <!-- Sidebar Links -->
        <div class="sidebar-link col-disable">

             <!--palette displayed on the bottom of each month -->
            <div id="palette" style="display: none">
                <div class="row">
                    <!--<div class="col-md-3">-->

                        <!--<span class="btn" id="selectedColor" style="background-color: rgb(255, 255, 255);"></span>-->
                    <!--</div>-->
                    <div class="col-md-5">
                        <div id="textColorSelector">
                            <i style="color: black;" class="fa fa-font" id="iconText"></i> Write
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div id="backgroundColorSelector">
                            <i style="color: white;" class="fa fa-square" id="iconBackground"></i> Background
                        </div>
                    </div>
                </div>



                <div class="row">
                    <img id="paletteImg" style="display: none" src="@routes.Assets.versioned("images/paletteHor.png")"">

                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <button id="purchaseSquares" type="button" class="btn btn-default btn-circle">
                                Purchase
                                <i class="fa fa-angle-right"></i>
                            </button>
                        </div>

                    </div>
                </div>



            </div>

            <!--<ul class="list-unstyled">-->
                <!--<li id="1MS"><a href="/get-squares/1" class="animated"> January <i class="fa fa-angle-double-right"></i></a></li>-->
                <!--<li id="2MS"><a href="/get-squares/2" class="animated"> February <i class="fa fa-angle-double-right"></i></a></li>-->
                <!--<li id="3MS"><a href="/get-squares/3" class="animated"> March <i class="fa fa-angle-double-right"></i></a></li>-->

                <!--<li id="4MS"><a href="/get-squares/4" class="animated">April <i class="fa fa-angle-double-right"></i></a></li>-->
                <!--<li id="5MS"><a href="/get-squares/5" class="animated">May <i class="fa fa-angle-double-right"></i></a></li>-->
                <!--<li id="6MS"><a href="/get-squares/6" class="animated">June <i class="fa fa-angle-double-right"></i></a></li>-->


                <!--&lt;!&ndash; time line + Do you want to contribute&ndash;&gt;-->
                <!--&lt;!&ndash; question + presentation&ndash;&gt;-->

            <!--</ul>-->
        </div>

