@import settings.Helpers._
@import helper._
@import play.api.i18n.Messages.Implicits._

@()(implicit messages: Messages, lang: Lang)


<!-- Inner Page Content Sidebar -->
@commonToAllPage.sidebar("br-red")(messages("commonToAllPage.nagivationMenu.getSquare"))(messages("haveSquares.sidebar.text"))
        <!-- Sidebar Links -->
        <div class="sidebar-link col-disable">

             <!--palette displayed on the bottom of each month -->
            <div id="palette" style="display: none">
                <div class="row">
                    <!--<div class="col-md-3">-->

                        <!--<span class="btn" id="selectedColor" style="background-color: rgb(255, 255, 255);"></span>-->
                    <!--</div>-->
                    <div class="col-md-5">
                        <div id="textColorSelector">
                            <i style="color: black;" class="fa fa-font" id="iconText"></i> @messages("button.write")
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div id="backgroundColorSelector">
                            <i style="color: white;" class="fa fa-square" id="iconBackground"></i> @messages("button.background")
                        </div>
                    </div>
                </div>



                <div class="row">
                    <img id="paletteImg" style="display: none" src="@routes.Assets.versioned("images/paletteHor.png")"">
                </div>



            </div>

            <!--<ul class="list-unstyled">-->
                <!--<li id="1MS"><a href="/get-squares/1" class="animated"> January <i class="fa fa-angle-double-right"></i></a></li>-->
                <!--<li id="2MS"><a href="/get-squares/2" class="animated"> February <i class="fa fa-angle-double-right"></i></a></li>-->
                <!--<li id="3MS"><a href="/get-squares/3" class="animated"> March <i class="fa fa-angle-double-right"></i></a></li>-->

                <!--<li id="4MS"><a href="/get-squares/4" class="animated">April <i class="fa fa-angle-double-right"></i></a></li>-->
                <!--<li id="5MS"><a href="/get-squares/5" class="animated">May <i class="fa fa-angle-double-right"></i></a></li>-->
                <!--<li id="6MS"><a href="/get-squares/6" class="animated">June <i class="fa fa-angle-double-right"></i></a></li>-->


                <!--&lt;!&ndash; time line + Do you want to contribute&ndash;&gt;-->
                <!--&lt;!&ndash; question + presentation&ndash;&gt;-->
            <!--</ul>-->


            <!-- Preview selected square-->
            <div id="previewSquareArea">
                <h3>@messages("haveSquares.sidebar.yourSquare") </h3>
                <!-- Other Plans Item -->
                <canvas id="previewSquare" style="width: 100%;">
                    <p>@messages("canvas.notSupproted")</p>
                </canvas>
            </div>
        </div>

