


#square{
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: #222;
}

/* the cursor is set in tha javascript file*/
#highlightSquare{
    width: 100%;
    position: relative;
    background-color: transparent;
    z-index: 2;
    cursor: crosshair;
}
