@import controllers.Application.LogRegCont._

@(redirect: LogRegCont,userForm: Form[UserData], loginForm: Form[LoginData], errorMessage: String = "")(implicit message: RequestHeader)


@css = {}

@js = {
<script src="@routes.Assets.versioned("javascripts/formValidation.js")"></script>


<script>

    var formLogin = document.getElementById('loginForm');
    document.getElementById("loginButton").onclick = function(){
        var result = emailCheck("emailLogin");
        result = inputNonEmpty("passwordLogin") && result;
        if(result){
           formLogin.submit();
        }
    }

    var formRegister = document.getElementById("formRegister");
    document.getElementById("buttonReg").onclick = function(){
        var result = emailCheck("emailReg");
        result = passwordCheck("passwordReg", "confirmPassword") && result;
        result = checkboxCheck("checkboxReg", "labelTermCondition") && result;
        if(result){
           formRegister.submit();
        }
    }



</script>
}

@commonToAllPage.template(css, Html(""), mainBarColumn(redirect, userForm, loginForm, errorMessage)(message), js, false, true)