@import settings.Global.LogRegCont._

@(redirect: LogRegCont, registerForm: Form[RegisterData], loginForm: Form[LoginData], contactForm: Form[ContactData], companyData: Map[String, String])(implicit message: RequestHeader, flash: Flash)


@css = {
<link href="@routes.Assets.versioned("stylesheets/loginRegisterContact.css")" rel="stylesheet">
}

@js = {
<script src="@routes.Assets.versioned("javascripts/loginRegisterContact/formValidation.js")"></script>
<script src="@routes.Assets.versioned("javascripts/loginRegisterContact/loginFormValidation.js")"></script>
<script src="@routes.Assets.versioned("javascripts/loginRegisterContact/registerFormValidation.js")"></script>
<script src="@routes.Assets.versioned("javascripts/loginRegisterContact/contactFormValidation.js")"></script>

}

@commonToAllPage.template(css, Html(""), mainBarColumn(redirect, registerForm, loginForm, contactForm)(message, flash), js, companyData, false, true)