@import settings.Helpers._
@import helper._
@import controllers.Application.LogRegCont._

@(redirect: LogRegCont, registerForm: Form[RegisterData], loginForm: Form[LoginData], errorMessage: String = "")(implicit message: RequestHeader)


<!-- Main-bar Column -->
<div class="inner-page">
    <div class="container">
        <div class="page-mainbar login">
            <!-- Login/Register Content -->
            <div class="login-content">
                <!-- Nab Bar Tan Menu list -->
                <ul id="mytab" class="nav nav-tabs nav-justify">
                    <li @if(redirect == login) {class="active"}>
                        <a href="#login" class="br-red" data-toggle="tab">
                            <!-- Icon -->
                            <i class="fa fa-sign-in"></i>
                            <span>Login</span>
                        </a>
                    </li>
                    <li @if(redirect == register) {class="active"}>
                        <a href="#register" class="br-lblue" data-toggle="tab">
                            <!-- Icon -->
                            <i class="fa fa-user-plus"></i>
                            <span>Sign Up</span>
                        </a>
                    </li>
                    <li @if(redirect == contact) {class="active"}>
                        <a href="#contact" class="br-green" data-toggle="tab">
                            <!-- Icon -->
                            <i class="fa fa-user"></i>
                            <span>Contact</span>
                        </a>
                    </li>
                </ul>
                <!-- Content for each menu item -->
                <div class="tab-content">
                    <!-- First Content for Nav bar -->
                    <div class="tab-pane fade @if(redirect == login) {in active} br-red" id="login">
                        <!-- Heading -->
                        <h2>Login</h2>
                        <!-- Sign in -->
                        @loginFormHtml(loginForm)(message)
                    </div>

                    <!-- Second Content for Nav bar -->
                    <div class=" tab-pane fade @if(redirect == register){in active} br-lblue" id="register">
                        <!-- Heading -->
                        <h2>Registration</h2>
                        <!-- Sign Up -->
                        @registerFormHtml(registerForm)(message)
                    </div>

                    <!-- Third Content for Nav bar -->
                    <div class="tab-pane fade @if(redirect == contact) {in active} br-green" id="contact">
                        <!-- Heading -->
                        <h2>Contact Us</h2>
                        <form role="form">
                            <div class="form-group">
                                <!-- form input -->
                                <input type="text" class="form-control" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <!-- form input -->
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <!-- form textarea -->
                                <textarea class="form-control" id="comment" rows="3" placeholder="Comments"></textarea>
                            </div>
                            <div class="form-group text-center">
                                <!-- form Submit and reset button -->
                                <button type="button" class="btn btn-black">Submit</button>&nbsp;
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
