@import settings.Helpers._
@import helper._
@import play.api.Play.current

@(registerForm: Form[RegisterData])(implicit message: RequestHeader, messages: Messages, lang: Lang)

<!--<form class="form-horizontal" role="form" action="@routes.Api.addUser" method="post">-->
@helper.form(action = routes.Api.addUser, args = 'class -> "form-horizontal", 'role -> "form", 'id -> "formRegister") {
@CSRF.formField


<div class="form-group">
    <div class="col-sm-6">
    @helper.inputText(registerForm("firstName"),
        args = 'class -> "form-control",
        'id -> "firstNameReg",
        'placeholder -> messages("form.firstName"))
    </div>
    <div class="col-sm-6">
    @helper.inputText(registerForm("lastName"),
        args = 'class -> "form-control",
        'id -> "lastNameReg",
        'placeholder -> messages("form.lastName"))
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        @helper.inputText(registerForm("email"),
        args = 'class -> "form-control",
        'id -> "emailReg",
        'placeholder -> messages("form.email"),
        'type -> "email")
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        @helper.inputPassword(registerForm("password"),
        args = 'class -> "form-control",
        'id -> "passwordReg",
        'placeholder -> messages("form.password"))
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        @helper.inputPassword(registerForm("verifyingPassword"),
        args = 'class -> "form-control",
        'id -> "confirmPassword",
        'placeholder -> messages("form.confirmPassword"))
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        <div class="termCondition">
                @messages("commonToAllPage.termsConditions.accept")
                <a target="_blank" href="/terms-and-conditions" target="_blank">
                    @messages("commonToAllPage.termsConditions.link") </a>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

@registerForm.globalErrors.map{ error =>
<p class="error"> @error.message</p>
}

<div class="form-group text-center">
    <div class="col-sm-12">
        <button type="button" id="buttonReg" class="btn btn-black">@messages("button.registration")</button>&nbsp;
    </div>
</div>
}