@import models.Square._

@(square: Square, login: Boolean)(implicit flash: Flash)
<!--TODO: Comprendre pk ca ma charche pas comme ça =>  jsSquares-->

@css = {
    <!-- For this page-->
    <link href="@routes.Assets.versioned("stylesheets/home.css")" rel="stylesheet">
}

@js(square: Square) = {
<script src="@routes.Assets.versioned("javascripts/square-canvas.js")"></script>

<script>
    var square = document.getElementById("square");
    var canvasWidth = square.clientWidth;


    //TODO: Comprendre pk ca ma charche pas comme ça
    //var jsSquares = [square.squares.map(t =>"\"" + t._1 + "\"").mkString(",")];

    var squaresString = "@square.squares.map(t =>t._1).mkString("specialBase64")";
    var jsSquares = squaresString.split("specialBase64");

    drawSquares(jsSquares, @square.nbSquaresOneEdge, square, canvasWidth);

</script>
}

@commonToAllPage.template(css, sidebar(), mainBarColumn(flash), js(square), login)