@(colors: Seq[Array[Int]], nbSquaresOneEdge: Int, login: Boolean)(implicit flash: Flash)




@css = {
    <!-- For this page-->
    <link href="@routes.Assets.versioned("stylesheets/home.css")" rel="stylesheet">
}

@js(colors: Seq[Array[Int]], nbSquaresOneEdge: Int) = {
<script src="@routes.Assets.versioned("javascripts/square-canvas.js")"></script>

<script>

    var jsColors = [@colors.map(array => "[" + array.mkString(",") + "]").mkString(",")];

    var square = document.getElementById("square");
    var canvasWidth = square.clientWidth;
    drawSquares(jsColors, @nbSquaresOneEdge, square, canvasWidth);

</script>
}

@commonToAllPage.template(css, sidebar(), mainBarColumn(flash), js(colors, nbSquaresOneEdge), login)