@import models.Square._

@(square: Square, idxSquaresUser: Seq[Int], login: Boolean)(implicit flash: Flash)
<!--TODO: Comprendre pk ca ma charche pas comme ça =>  jsSquares-->

@css = {
    <!-- For this page-->
    <link href="@routes.Assets.versioned("stylesheets/home.css")" rel="stylesheet">
}

@js(square: Square) = {

<script src="@routes.Assets.versioned("javascripts/drawMS/coords-in-canvas.js")"></script>
<script src="@routes.Assets.versioned("javascripts/drawMS/draw-ms.js")"></script>
<script src="@routes.Assets.versioned("javascripts/drawMS/highlight-square.js")"></script>





<!--Set the Square-->
<script>
    var square = document.getElementById("square");
    var canvasWidth = square.clientWidth;


    //TODO: Comprendre pk ca ma charche pas comme ça
    //var jsSquares = [square.squares.map(t =>"\"" + t._1 + "\"").mkString(",")];

    var squaresString = "@square.squares.map(t =>t._1).mkString("specialBase64")";
    var jsSquares = squaresString.split("specialBase64");

    // use for compute and draw the little squares
    var nbSquaresOneEdge = @square.nbSquaresOneEdge;
    var littleSL = canvasWidth / nbSquaresOneEdge;


    // draw the square
    square.width = canvasWidth;
    square.height = canvasWidth;
    drawSquares(jsSquares, nbSquaresOneEdge, square, canvasWidth);

    // add event to the canvas to draw


    // canvas where we will draw the selected squares and event
    var canvasToDraw = $("#highlightSquare");
    var width = canvasWidth;
    canvasToDraw.height(width).width(width);
    canvasToDraw.attr("height", width).attr("width", width);


    // when click on the legend, highlight user's square

    var idxSquares = [@idxSquaresUser.mkString(",")];
    highlightSquares(canvasToDraw.get(0), idxSquares, nbSquaresOneEdge, littleSL);
    canvasToDraw.hide();

    function flash(){
        if(canvasToDraw.css("display") == "none"){
            canvasToDraw.show();
        }
        else{
            canvasToDraw.hide();
        }
    };

    var legendDiv = $("#legendDiv");
    var period;
    legendDiv.click(function(){
        setTimeout(function(){
            clearInterval(period);
            canvasToDraw.hide();
        }, 3000);

        period = setInterval(flash, 200);
    });



</script>


<!--Set the square previus-->
<script src="@routes.Assets.versioned("javascripts/home/showPreviewSquare.js")"></script>
<script>
    var previewSquare = $("#previewSquare");
    var widthP = previewSquare.width();
    previewSquare.height(widthP).width(widthP);
    previewSquare.attr("height", widthP).attr("width", widthP);


    showPreviewSquare(square, previewSquare.get(0), jsSquares, @square.nbSquaresOneEdge);



</script>


<!--Set the legend for the square that the user owned-->
<script>
    var highlightEx = $("#highlightYourSquareEx");
    var widthH = Math.min(littleSL + 2, highlightEx.width() + 2);
    highlightEx.height(widthH).width(widthH);
    highlightEx.attr("height", widthH).attr("width", widthH);

    var widthEx = Math.min(littleSL, widthH);
    highlight(1, 1, widthEx, highlightEx.get(0).getContext('2d'));
    // set the canvas div height
    $("#highlightYourSquareExDiv").height(widthH);
</script>


}

@commonToAllPage.template(css, sidebar(), mainBarColumn(flash), js(square), login)