@(colors: Array[Array[Int]], freeSquares: Array[Boolean], nbSquaresOneEdge: Int)


<script src="@routes.Assets.versioned("javascripts/square-canvas.js")"></script>

<script>

    var jsColors = [@colors.map(array => "[" + array.mkString(",") + "]").mkString(",")];
    var freeSquares = [@freeSquares.map( bool  => if(bool) "true,"; else "false,") false];

    var square = document.getElementById("square");
    var canvasWidth = square.clientWidth;
    drawSquares(jsColors, freeSquares, @nbSquaresOneEdge, square, canvasWidth);

</script>

