@(flash: Flash)

@views.html.commonToAllPage.flash(flash)


<!-- 1• step: select the square-->
<div id="select-square">
    <div class="career-content">
        <!-- Content for each menu item -->
        <div class="">
            <div class="tab-pane">
                <canvas id="highlightSquare">
                    <p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour!!!!!</p>
                </canvas>
                <canvas id="square" class="squares">
                    <!-- TODO: Verifier avant la mise en marche du site -->
                    <p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour!!!!!</p>
                </canvas>

            </div>
        </div>
    </div>
</div>


<!--<div id="main-bar-column">-->
    <!--<canvas id="square" class="squares">-->
        <!--&lt;!&ndash; TODO: Verifier avant la mise en marche du site &ndash;&gt;-->
        <!--<p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour!!!!!</p>-->
    <!--</canvas>-->
    <!--<canvas id="highlightSquare">-->
        <!--<p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour!!!!!</p>-->
    <!--</canvas>-->
<!--</div>-->