
@()(implicit flash: Flash, messages: Messages, lang: Lang)

@views.html.commonToAllPage.flash(flash)


<!-- 1• step: select the square-->
<div id="select-square">
    <div class="career-content">
        <!-- Content for each menu item -->
        <div class="">
            <div class="tab-pane">
                <canvas id="highlightSquare">
                    <p>@messages("canvas.notSupproted")</p>
                </canvas>
                <canvas id="square" class="squares">
                    <!-- TODO: Verifier avant la mise en marche du site -->
                    <p>@messages("canvas.notSupproted")</p>
                </canvas>

            </div>
        </div>
    </div>
</div>
