@import play.api.i18n.Messages.Implicits._

@(login: Boolean)(implicit messages: Messages, lang: Lang)

<!-- Inner Page Content Sidebar -->

@commonToAllPage.sidebar("br-black")(messages("home.sidebar.title"))(messages("home.sidebar.text"))

<div class="sidebar-link col-disable">

    @if(login){
    <!-- Legend -->
    <div id="legendDiv">

        <div class="row">
            <div class="col-md-3" id="highlightYourSquareExDiv">
                <canvas id="highlightYourSquareEx" style="width: 100%;">
                    <p@messages("canvas.notSupproted")</p>
                </canvas>
            </div>
            <div class="col-md-9">
                <h4>
                    @messages("home.sidebar.showSquare")
                </h4>
            </div>
        </div>
    </div>
    }

    <!-- Preview selected square-->
    <div id="previewSquareArea">
        <h3>@messages("home.sidebar.theDisplayedSquare") </h3>
        <!-- Other Plans Item -->
        <canvas id="previewSquare" style="width: 100%;">
            <p>@messages("canvas.notSupproted")</p>
        </canvas>
    </div>



</div>