@(login: Boolean)

<!-- Inner Page Content Sidebar -->

@commonToAllPage.sidebar("br-black")("January's MS")("Welcome to the first MySquare of the world! Make your choice and take part in History!!")

<div class="sidebar-link col-disable">

    @if(login){
    <!-- Legend -->
    <div id="legendDiv">

        <div class="row">
            <div class="col-md-3" id="highlightYourSquareExDiv">
                <canvas id="highlightYourSquareEx" style="width: 100%;">
                    <p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour!!!!!</p>
                </canvas>
            </div>
            <div class="col-md-9">
                <h4>
                    Show your square
                </h4>
            </div>
        </div>
    </div>
    }

    <!-- Preview selected square-->
    <div id="previewSquareArea">
        <h3>The Square </h3>
        <!-- Other Plans Item -->
        <canvas id="previewSquare" style="width: 100%;">
            <p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour!!!!!</p>
        </canvas>
    </div>



</div>