@(companyData: Map[String, String], login: Boolean)(implicit messages: Messages, lang: Lang)

@css = {
<link href="@routes.Assets.versioned("stylesheets/errorPage.css")" rel="stylesheet">
}

@js = {}

@mainBarColumn = {

<!-- Body Wrapper -->
<div class="wrapper white">

    <!-- Inner Page Content // Start -->

    <div class="inner-page">
        <div class="container">
            <div class="page-mainbar error">
                <!-- Coming Soon Content -->
                <div class="error-content br-red">
                    <!-- Heading -->
                    <h2>@messages("errorPage.oops")<span>!!!</span> it<span>'</span>s <span>404!!!</span></h2>
                    <!-- paragraph -->
                    <p>@messages("errorPage.weAreSorry")</p>
                    <!-- Border design for page -->
                    <div class="line-border"></div>
                    <!-- Form, search button and input box -->
                    <form role="form" class="form-inline eform">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Type to search">
                        </div>
                        <button type="button" class="btn btn-info">@messages("button.search")</button>
                    </form>
                    <!-- Visited link list -->
                    <div class="link-list">
                        <a href="/">@messages("commonToAllPage.nagivationMenu.home")</a>
                        <a href="/get-squares/@companyData("idCurrentMS")">@messages("commonToAllPage.nagivationMenu.getSquare")</a>
                        <a href="/how-it-works">@messages("commonToAllPage.nagivationMenu.howItWorks")</a>
                        <a href="/company">@messages("commonToAllPage.nagivationMenu.company")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

}

@commonToAllPage.template(css, Html(""), mainBarColumn, js, companyData, login, true)(messages, lang)




