@(contactForm: Form[ContactData], companyData: Map[String, String], login: Boolean)(implicit message: RequestHeader, flash: Flash, messages: Messages, lang: Lang)


@css = {
    <link href="@routes.Assets.versioned("stylesheets/company.css")" rel="stylesheet">
}
@js = {
    <script src="@routes.Assets.versioned("javascripts/loginRegisterContact/formValidation.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/loginRegisterContact/contactFormValidation.js")"></script>
}

@commonToAllPage.template(css, sidebar()(messages, lang), mainBarColumn(contactForm, companyData)(message, flash, messages, lang), js, companyData, login)(messages, lang)