@(contactData: Map[String, String])


<div class="page-mainbar aboutus">
    <!-- About Content -->
    <!--<div class="aboutus-content">-->
        <!--&lt;!&ndash; Heading &ndash;&gt;-->
        <!--<h3>About Us</h3>-->
        <!--<div class="row">-->
            <!--<div class="col-md-7 col-sm-7">-->
                <!--&lt;!&ndash; Client Quotes &ndash;&gt;-->
                <!--<div class="aboutus-quote">-->
                    <!--&lt;!&ndash; Quotes &ndash;&gt;-->
                    <!--<span>&#8220;</span>-->
                    <!--&lt;!&ndash; Paragraph &ndash;&gt;-->
                    <!--<p>Sed ut persp iciatis undeuiew omnis iste natus error sitertw volup tatem accus antium ouew dolor emque.</p>-->
                    <!--<h5 class="pull-right">- <img src="img/user2.jpg" class="img-responsive img-circle" alt="" /> John Doe</h5>-->
                    <!--<div class="clearfix"></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-5 col-sm-5">-->
                <!--<h6>Et Quads Molestation</h6>-->
                <!--&lt;!&ndash; Paragraph &ndash;&gt;-->
                <!--<p class="grey">Roosevelt accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique id et dolorum fuga.</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!-- About Us Member -->
    <!--<div class="aboutus-member">-->
        <!--&lt;!&ndash; Heading &ndash;&gt;-->
        <!--<h3>About Our Team</h3>-->
        <!--<div class="row">-->
            <!--<div class="col-md-4 col-sm-4">-->
                <!--&lt;!&ndash; Member Content &ndash;&gt;-->
                <!--<div class="member-content">-->
                    <!--&lt;!&ndash; Image &ndash;&gt;-->
                    <!--<img src="img/user.jpg" class="img-responsive img-circle" alt="" />-->
                    <!--&lt;!&ndash; Heading &ndash;&gt;-->
                    <!--<h4>Jessica Doe</h4>-->
                    <!--<hr />-->
                    <!--&lt;!&ndash; Social Media &ndash;&gt;-->
                    <!--<div class="social">-->
                        <!--<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>-->
                        <!--<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>-->
                        <!--<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>-->
                        <!--<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4 col-sm-4">-->
                <!--&lt;!&ndash; Member Content &ndash;&gt;-->
                <!--<div class="member-content">-->
                    <!--&lt;!&ndash; Image &ndash;&gt;-->
                    <!--<img src="img/user.jpg" class="img-responsive img-circle" alt="" />-->
                    <!--&lt;!&ndash; Heading &ndash;&gt;-->
                    <!--<h4>Jessica Doe</h4>-->
                    <!--<hr />-->
                    <!--&lt;!&ndash; Social Media &ndash;&gt;-->
                    <!--<div class="social">-->
                        <!--<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>-->
                        <!--<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>-->
                        <!--<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>-->
                        <!--<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4 col-sm-4">-->
                <!--&lt;!&ndash; Member Content &ndash;&gt;-->
                <!--<div class="member-content">-->
                    <!--&lt;!&ndash; Image &ndash;&gt;-->
                    <!--<img src="img/user.jpg" class="img-responsive img-circle" alt="" />-->
                    <!--&lt;!&ndash; Heading &ndash;&gt;-->
                    <!--<h4>Jessica Doe</h4>-->
                    <!--<hr />-->
                    <!--&lt;!&ndash; Social Media &ndash;&gt;-->
                    <!--<div class="social">-->
                        <!--<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>-->
                        <!--<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>-->
                        <!--<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>-->
                        <!--<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- Heading -->


</div>



<div class="page-mainbar contactus">
    <!-- Heading -->
    <h3>Contact Us</h3>
    <!-- Contact Us Content -->
    <div class="contactus-content">
        <div class="row">

            <div class="col-md-4 col-sm-4">
                <!-- Contact Us Content Item -->
                <div class="content-item">
                    <!-- Icon -->
                    <i class="fa fa-map-marker lblue"></i>
                    <!-- Heading -->
                    <h4>Address</h4>
                    <!-- Paragraph -->
                    <p class="grey">@contactData("address")</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Contact Us Content Item -->
                <div class="content-item">
                    <!-- Icon -->
                    <i class="fa fa-envelope red"></i>
                    <!-- Heading -->
                    <h4>Email</h4>
                    <!-- Paragraph -->
                    <p class="grey"><a href="mailto:@contactData("email")">@contactData("email")</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Contact Us Content Item -->
                <div class="content-item">
                    <!-- Icon -->
                    <i class="fa fa-phone-square green"></i>
                    <!-- Heading -->
                    <h4>Voice Call</h4>
                    <!-- Paragraph -->
                    <p class="grey"><a href="tel:@contactData("address")">@contactData("phoneNumber")</a></p>
                </div>
            </div>
        </div>
    </div>

    <h3>Let us improve</h3>
    <!-- Contact Us Form -->
    <div class="contact-form">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <form role="form">
                    <div class="form-group">
                        <!-- form input -->
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <!-- form input -->
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <!-- form textarea -->
                        <textarea class="form-control" id="comment" rows="3" placeholder="Comments"></textarea>
                    </div>
                    <div class="form-group">
                        <!-- form Submit and reset button -->
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-sm-6">
                <!-- suggestion -->
                <h3> Any suggestion? </h3>

                <p>Leave us your feedback and we will do our best to improve our service</p>
            </div>
        </div>
    </div>




</div>