<div class="page-mainbar aboutus">
    <!-- About Content -->
    <div class="aboutus-content">
        <!-- Heading -->
        <h3>About Us</h3>
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <!-- Client Quotes -->
                <div class="aboutus-quote">
                    <!-- Quotes -->
                    <span>&#8220;</span>
                    <!-- Paragraph -->
                    <p>Sed ut persp iciatis undeuiew omnis iste natus error sitertw volup tatem accus antium ouew dolor emque.</p>
                    <h5 class="pull-right">- <img src="img/user2.jpg" class="img-responsive img-circle" alt="" /> John Doe</h5>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5">
                <h6>Et Quads Molestation</h6>
                <!-- Paragraph -->
                <p class="grey">Roosevelt accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique id et dolorum fuga.</p>
            </div>
        </div>
    </div>
    <!-- About Us Member -->
    <div class="aboutus-member">
        <!-- Heading -->
        <h3>About Our Team</h3>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <!-- Member Content -->
                <div class="member-content">
                    <!-- Image -->
                    <img src="img/user.jpg" class="img-responsive img-circle" alt="" />
                    <!-- Heading -->
                    <h4>Jessica Doe</h4>
                    <hr />
                    <!-- Social Media -->
                    <div class="social">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Member Content -->
                <div class="member-content">
                    <!-- Image -->
                    <img src="img/user.jpg" class="img-responsive img-circle" alt="" />
                    <!-- Heading -->
                    <h4>Jessica Doe</h4>
                    <hr />
                    <!-- Social Media -->
                    <div class="social">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Member Content -->
                <div class="member-content">
                    <!-- Image -->
                    <img src="img/user.jpg" class="img-responsive img-circle" alt="" />
                    <!-- Heading -->
                    <h4>Jessica Doe</h4>
                    <hr />
                    <!-- Social Media -->
                    <div class="social">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3>Let us improve</h3>

</div>



<div class="page-mainbar contactus">
    <!-- Heading -->
    <h3>Head Office</h3>
    <!-- Contact Us Content -->
    <div class="contactus-content">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <!-- Contact Us Content Item -->
                <div class="content-item">
                    <!-- Icon -->
                    <i class="fa fa-map-marker lblue"></i>
                    <!-- Heading -->
                    <h4>Address</h4>
                    <!-- Paragraph -->
                    <p class="grey">#98/3 Dark Politic Road, N B C Venue, 6th Main, USD Park, Bangalore - 234543</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Contact Us Content Item -->
                <div class="content-item">
                    <!-- Icon -->
                    <i class="fa fa-envelope red"></i>
                    <!-- Heading -->
                    <h4>Email</h4>
                    <!-- Paragraph -->
                    <p><a href="#">abcexample.com</a><br /><a href="#">xyzxample.com</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Contact Us Content Item -->
                <div class="content-item">
                    <!-- Icon -->
                    <i class="fa fa-phone-square green"></i>
                    <!-- Heading -->
                    <h4>Voice Call</h4>
                    <!-- Paragraph -->
                    <p><a href="#">+91 333 - 333 - 4444</a><br /><a href="#">+91 555 - 555 - 4444</a></p>
                </div>
            </div>
        </div>
    </div>



    <!-- Heading -->
    <h3>Contact Us Form</h3>
    <!-- Contact Us Form -->
    <div class="contact-form">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <form role="form">
                    <div class="form-group">
                        <!-- form input -->
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <!-- form input -->
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <!-- form textarea -->
                        <textarea class="form-control" id="comment" rows="3" placeholder="Comments"></textarea>
                    </div>
                    <div class="form-group">
                        <!-- form Submit and reset button -->
                        <button type="submit" class="btn btn-info">Submit</button>&nbsp;
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-sm-6">
                <!-- Google Map -->
                <iframe scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Bangalore,+Karnataka&amp;aq=0&amp;oq=banga&amp;sll=12.953997,77.63094&amp;sspn=0.782923,1.352692&amp;ie=UTF8&amp;hq=&amp;hnear=Bangalore,+Bangalore+Urban,+Karnataka&amp;ll=12.953706,77.630768&amp;spn=0.782868,1.352692&amp;t=m&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
</div>