
    <div class="page-mainbar blog">
        <!-- Heading -->
        <h3>Blogs</h3>
        <!-- Blog Page Content -->
        <div class="blog-content">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <!-- The new post done by user's all in the post block -->
                    <div class="blog-post">
                        <!-- Entry is the one post for each user -->
                        <div class="entry">
                            <!-- Meta for this block -->
                            <div class="meta br-orange">
                                <!-- Date -->
                                <div class="post-date"><span>Jan 23</span>2014</div>
                                <!-- Post Information -->
                                <div class="meta-info"><a href="#"><i class="fa fa-user"></i> <span>Admin</span></a></div>
                                <div class="meta-info"><a href="#"><i class="fa fa-comment"></i> <span>2 Comments</span></a></div>
                            </div>
                            <!-- Heading of the  post -->
                            <h4><a href="blog-single.html">Equine porno squamous esp</a></h4>
                            <!-- Para -->
                            <p class="grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet. <a href="#">Praesent ultricies</a> enim ac ipsum aliquet pellentesque. Nullam justo nunc, dignissim at convallis posuere, sodales eu orci. Duis a risus sed dolor placerat semper quis in urna. Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Fusce imperdiet ornare dignissim. Posuere turpis eu laoreet Nulla facilisi. Aenean at massa leo.</p>
                            <div class="clearfix"></div>
                        </div>
                        <!-- Entry is the one post for each user -->
                        <div class="entry">
                            <!-- Meta for this block -->
                            <div class="meta br-green">
                                <!-- Date -->
                                <div class="post-date"><span>Jan 29</span>2014</div>
                                <!-- Post Information -->
                                <div class="meta-info"><a href="#"><i class="fa fa-user"></i> <span>July Doe</span></a></div>
                                <div class="meta-info"><a href="#"><i class="fa fa-comment"></i> <span>0 Comments</span></a></div>
                            </div>
                            <!-- Heading of the  post -->
                            <h4><a href="blog-single.html">Perspicacity undue omni site</a></h4>
                            <!-- Para -->
                            <p class="grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet. <a href="#">Praesent ultricies</a> enim ac ipsum aliquet pellentesque. Nullam justo nunc, dignissim at convallis posuere, sodales eu orci. Duis a risus sed dolor placerat semper quis in urna. Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Fusce imperdiet ornare dignissim. Posuere turpis eu laoreet Nulla facilisi. Aenean at massa leo.</p>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <!-- Pagination -->
                    <div class="paging">
                        <span class='current'>1</span>
                        <a href='#'>2</a>
                        <span class="dots">&hellip;</span>
                        <a href='#'>6</a>
                        <a href="#">Next</a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- Blog post End -->
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="blog-sidebar">
                        <!-- Sidebar widget -->
                        <!-- First -->
                        <div class="side-widget br-lblue">
                            <h4>Search</h4>
                            <div class="widget-content">
                                <!-- search button and input box -->
                                <form role="form" class="form-inline bform">
                                    <!-- /input-group -->
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
																<span class="input-group-btn">
																	<button class="btn btn-danger" type="button">Search</button>
																</span>
                                    </div><!-- /input-group -->
                                </form>
                            </div>
                        </div>
                        <!-- Second -->
                        <div class="side-widget br-yellow">
                            <h4>Recent Posts</h4>
                            <div class="widget-content">
                                <ol>
                                    <li><a href="#">Y. Loveursu, soluta nobqual blame betum rutrum allongs to this est eligend.</a></li>
                                    <li><a href="#">H. Povursu, luta nobisest hyelqual bltum rutrum alame belongs to thigend.</a></li>
                                    <li><a href="#">U. Treursu, jueilqual blame belongs to thuta ntum rutrum alobist hyeleniurd.</a></li>
                                    <li><a href="#">Jhon Doe, rsiqual blame belongs to thlutum rutrum alta nobniurd.</a></li>
                                </ol>
                            </div>
                        </div>
                        <!-- Third -->
                        <div class="side-widget br-pink">
                            <h4>About Us</h4>
                            <div class="widget-content">
                                <p>Foresee the pain ancondb imentum rutrum aliquet. Quisque eu consectetur erat. Proin rutrum, erat egd trouble that are bound</p>
                                <div class="social">
                                    <a href="#" class=""><i class="fa fa-facebook"></i></a>
                                    <a href="#" class=""><i class="fa fa-twitter"></i></a>
                                    <a href="#" class=""><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
