<div class="page-mainbar aboutus">
    <!-- About Content -->
    <div class="aboutus-content">
        <!-- Heading -->
        <h3>About Us</h3>
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <!-- Client Quotes -->
                <div class="aboutus-quote">
                    <!-- Quotes -->
                    <span>&#8220;</span>
                    <!-- Paragraph -->
                    <p>Sed ut persp iciatis undeuiew omnis iste natus error sitertw volup tatem accus antium ouew dolor emque.</p>
                    <h5 class="pull-right">- <img src="img/user2.jpg" class="img-responsive img-circle" alt="" /> John Doe</h5>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5">
                <h6>Et Quads Molestation</h6>
                <!-- Paragraph -->
                <p class="grey">Roosevelt accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique id et dolorum fuga.</p>
            </div>
        </div>
    </div>
    <!-- About Us Member -->
    <div class="aboutus-member">
        <!-- Heading -->
        <h3>About Our Team</h3>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <!-- Member Content -->
                <div class="member-content">
                    <!-- Image -->
                    <img src="img/user.jpg" class="img-responsive img-circle" alt="" />
                    <!-- Heading -->
                    <h4>Jessica Doe</h4>
                    <hr />
                    <!-- Social Media -->
                    <div class="social">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Member Content -->
                <div class="member-content">
                    <!-- Image -->
                    <img src="img/user.jpg" class="img-responsive img-circle" alt="" />
                    <!-- Heading -->
                    <h4>Jessica Doe</h4>
                    <hr />
                    <!-- Social Media -->
                    <div class="social">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Member Content -->
                <div class="member-content">
                    <!-- Image -->
                    <img src="img/user.jpg" class="img-responsive img-circle" alt="" />
                    <!-- Heading -->
                    <h4>Jessica Doe</h4>
                    <hr />
                    <!-- Social Media -->
                    <div class="social">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Skills -->
    <div class="aboutus-skill">
        <!-- Heading -->
        <h3>About Our Skills</h3>
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <!-- Skill Item -->
                <div class="skill-item">
                    <!-- Image // Flat Icon -->
                    <img src="img/flat-icon/fi2.png" class="img-responsive" alt="" />
                    <!-- Heading -->
                    <h6>Latest CSS Environment</h6>
                    <!-- Paragraph -->
                    <p class="grey">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
                    <div class="clearfix"></div>
                </div>
                <!-- Skill Item -->
                <div class="skill-item">
                    <!-- Image // Flat Icon -->
                    <img src="img/flat-icon/fi3.png" class="img-responsive" alt="" />
                    <!-- Heading -->
                    <h6>Latest HTML Technology</h6>
                    <!-- Paragraph -->
                    <p class="grey">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
                    <div class="clearfix"></div>
                </div>
                <!-- Skill Item -->
                <div class="skill-item">
                    <!-- Image // Flat Icon -->
                    <img src="img/flat-icon/fi13.png" class="img-responsive" alt="" />
                    <!-- Heading -->
                    <h6>PHP Developers Notes</h6>
                    <!-- Paragraph -->
                    <p class="grey">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5">
                <div class="progress-skill">
                    <span>Design</span>
                    <span class="pull-right">90%</span>
                    <div class="clearfix"></div>
                    <!-- Progress Bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" data-end="95">
                        </div>
                    </div>
                </div>
                <div class="progress-skill">
                    <span>Coding</span>
                    <span class="pull-right">75%</span>
                    <div class="clearfix"></div>
                    <!-- Progress Bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" data-end="75">
                        </div>
                    </div>
                </div>
                <div class="progress-skill">
                    <span>Development</span>
                    <span class="pull-right">85%</span>
                    <div class="clearfix"></div>
                    <!-- Progress Bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" data-end="80">
                        </div>
                    </div>
                </div>
                <div class="progress-skill">
                    <span>Languages</span>
                    <span class="pull-right">100%</span>
                    <div class="clearfix"></div>
                    <!-- Progress Bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" data-end="100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="page-mainbar contactus">
    <!-- Heading -->
    <h3>Head Office</h3>
    <!-- Contact Us Content -->
    <div class="contactus-content">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <!-- Contact Us Content Item -->
                <div class="content-item">
                    <!-- Icon -->
                    <i class="fa fa-map-marker lblue"></i>
                    <!-- Heading -->
                    <h4>Address</h4>
                    <!-- Paragraph -->
                    <p class="grey">#98/3 Dark Politic Road, N B C Venue, 6th Main, USD Park, Bangalore - 234543</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Contact Us Content Item -->
                <div class="content-item">
                    <!-- Icon -->
                    <i class="fa fa-envelope red"></i>
                    <!-- Heading -->
                    <h4>Email</h4>
                    <!-- Paragraph -->
                    <p><a href="#">abcexample.com</a><br /><a href="#">xyzxample.com</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Contact Us Content Item -->
                <div class="content-item">
                    <!-- Icon -->
                    <i class="fa fa-phone-square green"></i>
                    <!-- Heading -->
                    <h4>Voice Call</h4>
                    <!-- Paragraph -->
                    <p><a href="#">+91 333 - 333 - 4444</a><br /><a href="#">+91 555 - 555 - 4444</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Heading -->
    <h3>Other Branches</h3>
    <!-- Contact Us Branches -->
    <div class="branch-content">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <!-- Heading -->
                <h4><i class="fa fa-map-marker orange"></i>&nbsp; USA</h4>
                <!-- Address -->
                <address>
                    <i class="fa fa-home br-yellow"></i> #974 White House Build, N C <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; Road, 8th Main, USD Park,  <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; New York - 234543 <br />
                    <span><i class="fa fa-phone br-orange"></i> +91 123-456-2345</span>
                    <span><i class="fa fa-envelope-o br-blue"></i> <a href="#">abcexample.com</a></span>
                </address>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Heading -->
                <h4><i class="fa fa-map-marker green"></i>&nbsp; Africa</h4>
                <!-- Address -->
                <address>
                    <i class="fa fa-home br-yellow"></i> #974 Blvd Quay 6, Cape Town <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; Central 8001, N C Building<br />
                    &nbsp; &nbsp; &nbsp; &nbsp; South Africa - 234543 <br />
                    <span><i class="fa fa-phone br-orange"></i> +91 123-456-2345</span>
                    <span><i class="fa fa-envelope-o br-blue"></i> <a href="#">abcexample.com</a></span>
                </address>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="map">
                    <img src="img/map.png" class="img-responsive" alt="" />
                    <i class="fa fa-map-marker orange marker usa"></i>
                    <i class="fa fa-map-marker green marker africa"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Heading -->
    <h3>Contact Us Form</h3>
    <!-- Contact Us Form -->
    <div class="contact-form">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <form role="form">
                    <div class="form-group">
                        <!-- form input -->
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <!-- form input -->
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <!-- form textarea -->
                        <textarea class="form-control" id="comment" rows="3" placeholder="Comments"></textarea>
                    </div>
                    <div class="form-group">
                        <!-- form Submit and reset button -->
                        <button type="submit" class="btn btn-info">Submit</button>&nbsp;
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-sm-6">
                <!-- Google Map -->
                <iframe scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Bangalore,+Karnataka&amp;aq=0&amp;oq=banga&amp;sll=12.953997,77.63094&amp;sspn=0.782923,1.352692&amp;ie=UTF8&amp;hq=&amp;hnear=Bangalore,+Bangalore+Urban,+Karnataka&amp;ll=12.953706,77.630768&amp;spn=0.782868,1.352692&amp;t=m&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
</div>