@import "main.less";

.squares{
    width: 100%;
    background-color: #222;
}
.selectedSquare{
    background-color: blue;

}

#graySquare{
    position: absolute;
    z-index: 0;
    background-color: gray;
}
#coloredSquare{
    position: absolute;
    z-index: 1;
    background: black;
}

/* the cursor is set in tha javascript file*/
#selectedSquare{
    position: relative;
    top: -15px;
    padding-top: 15px;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
}



#draw-square{
    margin-top: 30px;
}

#square-where-we-draw{
    cursor:text;
    z-index: 1;
}

#writeTextDiv{
    position: absolute;
    z-index: 2;
}

#writeTextDiv textarea{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    color: black;
}

#writeTextDiv button{
    margin-top: 20px;
}















/* for the palette */
#palette{
    background-color: #222;
    border: 3px groove #e63131;
    padding: 5px;
    padding-left: 6px;

}
#palette > div>div{
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
}


/* */
#palette > div> img{
    width: 100%;
    margin-bottom: 10px;
    cursor: url("/assets/images/pipette.png"), copy !important;

}

#palette .selected{
    background-color: #363636;
}


/* selection of color*/
#palette span{
    width: 96%;
    height: 40px;
    margin: 1%;
    border: 2px solid black !important;
    cursor: default;
}

/* button for continue*/
#palette button{
    width: 96%;
    height: 38px;
    margin: 1%;
}
