<!DOCTYPE html>
<html>
<head>
    <!-- Title here -->
    <title>FlatMania, Login/Register</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    @commonToAllPage.css()

    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
</head>

<body>

<!-- Body Wrapper -->
<div class="wrapper white">


    <div class="header">
        <!-- Header Information -->
        <div class="header-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <!-- Social Media -->

                        <div class="header-information-link">
                            <a href="/" data-toggle="tab">
                                <!-- Icon -->
                                <!-- TODO: Faire un vraie back qui ne reviens pas systhematiquement a la page principal-->
                                <i class="fa fa-arrow-left"></i>
                                <span>Back</span>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <!-- Search Box -->

                    </div>

                    <!--.inner-page .login .login-content .nav-tabs li a-->

                    <div class="col-md-4 col-sm-4">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Inner Page Content // Start -->

    <div class="inner-page">
        <div class="container">
            <div class="page-mainbar login">
                <!-- Login/Register Content -->
                <div class="login-content">
                    <!-- Nab Bar Tan Menu list -->
                    <ul id="mytab" class="nav nav-tabs nav-justify">
                        <li class="active">
                            <a href="#login" class="br-red" data-toggle="tab">
                                <!-- Icon -->
                                <i class="fa fa-sign-in"></i>
                                <span>Login</span>
                            </a>
                        </li>
                        <li>
                            <a href="#register" class="br-lblue" data-toggle="tab">
                                <!-- Icon -->
                                <i class="fa fa-sign-out"></i>
                                <span>Sign Up</span>
                            </a>
                        </li>
                        <li>
                            <a href="#contact" class="br-green" data-toggle="tab">
                                <!-- Icon -->
                                <i class="fa fa-user"></i>
                                <span>Contact</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Content for each menu item -->
                    <div class="tab-content">
                        <!-- First Content for Nav bar -->
                        <div class="tab-pane fade in active br-red" id="login">
                            <!-- Heading -->
                            <h2>Login</h2>
                            <!-- Sign in Form Start -->
                            <form class="form-horizontal" role="form" >
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="username" placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control" id="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                            <span class="pull-right"><a href="#">Forget Password</a></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-black">Login</button>&nbsp;

                                    </div>
                                </div>
                            </form>
                            <!-- Sign in form End -->
                        </div>

                        <!-- Second Content for Nav bar -->
                        <div class="tab-pane fade br-lblue" id="register">
                            <!-- Heading -->
                            <h2>Registration</h2>
                            <!-- Sign Up Form Start -->
                            <form class="form-horizontal" role="form" action="@routes.Application.addUser" method="post">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="email" class="form-control" id="emailReg" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control" id="passwordReg" name="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <!--<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password">-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <!--<input type="checkbox"> Accept All Terms & Conditions-->
                                            </label>
                                            <span class="pull-right"><a href="#">View</a></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-black">Registration</button>&nbsp;
                                    </div>
                                </div>
                            </form>
                            <!-- Sign Up form End -->
                        </div>

                        <!-- Third Content for Nav bar -->
                        <div class="tab-pane fade br-green" id="contact">
                            <!-- Heading -->
                            <h2>Contact Us</h2>
                            <form role="form">
                                <div class="form-group">
                                    <!-- form input -->
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <!-- form input -->
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <!-- form textarea -->
                                    <textarea class="form-control" id="comment" rows="3" placeholder="Comments"></textarea>
                                </div>
                                <div class="form-group text-center">
                                    <!-- form Submit and reset button -->
                                    <button type="button" class="btn btn-black">Submit</button>&nbsp;
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Inner Page Content // End -->

    <!-- Footer Start -->

    <div class="footer padd-zero">
        <div class="container">
            <!-- Footer Copyright -->
            @commonToAllPage.copyright()
        </div>
    </div>

    <!-- Footer End -->

</div>
<!-- Footer End -->

<!-- Scroll to top -->
@commonToAllPage.scroleToTop()




<!-- Javascript files -->
@commonToAllPage.js()

</script>
	</body>	
</html>