<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    @commonToAllPage.css()
</head>
<body>

        <div class="header-information-link">
            <a href="/register" data-toggle="tab">
                <!-- Icon -->
                <i class="fa fa-step-backward"></i>
                <span>fa-step-backward</span>
            </a>
        </div>
        <div class="header-information-link">
            <a href="/register" data-toggle="tab">
                <!-- Icon -->
                <i class="fa fa-fast-backward"></i>
                <span>fa-fast-backward</span>
            </a>
        </div>
        <div class="header-information-link">
            <a href="/register" data-toggle="tab">
                <!-- Icon -->
                <i class="fa fa-backward"></i>
                <span> fa-backward</span>
            </a>
        </div>

        <div class="header-information-link">
            <a href="/register" data-toggle="tab">
                <!-- Icon -->
                <i class="fa fa-arrow-left"></i>
                <span> fa-arrow-left</span>
            </a>
        </div>

        <div class="header-information-link text-right">
            <a href="/register" data-toggle="tab">
                <!-- Icon -->
                <i class="fa fa-sign-in"></i>
                <span>Login</span>
            </a>
        </div>












</body>
</html>