<html>
    <head>
        <title>Test</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        <h3>Textarea behavior <mark>with</mark> bootstrap</h3>
        <textarea rows="5" cols="40" class="form-control" required="required">fi</textarea>

        <br>

        <p>
            The cursor <mark>can not</mark> go between f and i
        </p>
    </body>
</html>